
h1 {
    background-color: steelblue;
    font-family: 'Karantina', cursive;
    color:silver;
    text-align: center;
}

.card-header {
    font-family: 'Karantina', cursive;
    background-color: silver;
    color: steelblue;
    font-weight: 500;
}

.employee-card {
    border-radius: 5pt;
}
